.neon-chart.c3 {
  height: 95%;
  width: 95%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

  svg {
    font-family: $font-family;
  }

  //Chart plot and grid
  .tick {
    fill: $gray;
    font-size: 1.6em;
    line {
      stroke: $gray-dark;
    }
  }
  path.domain,
  line.domain {
    stroke: $gray-dark;
  }
  .c3-xgrid,
  .c3-ygrid {
    stroke: $gray-dark;
    stroke-dasharray: none;
  }
  .c3-grid-lines {
    pointer-events: none;

    line {
      stroke: $gray-dark;
    }
    text {
      fill: $gray;
      font-size: 1.6em;
    }
  }

  //Title and Axis labels
  .c3-title {
    fill: $gray-lighter;
    font-size: 1.7em;
    font-weight: 300;
  }

  .c3-axis-y-label,
  .c3-axis-x-label {
    font-size: 1.7em;
    fill: $gray-light;
    font-weight: 300;
  }

  //Axis tick label positioning
  .c3-axis-x .tick {
    &:first-of-type {
      text {
        text-anchor: start !important;
      }
    }
    &:last-of-type {
      text {
        text-anchor: end !important;
      }
    }
  }

  //Focus circle
  .c3-circle {
    stroke: $gray-darker;
    stroke-width: 3px;
  }

  //Legend
  .c3-legend-item {
    text {
      fill: $gray-lighter;
      font-size: 1.4em;
    }
  }
  .c3-legend-item-hidden {
    opacity: 0.35;
  }

  //Chart regions, show areas of poor data
  .c3-region {
    fill: darken($gray-darker, 3%);

    rect {
      fill-opacity: 0.75 !important;
    }
  }

  //X Axis ranges
  .c3-region[class*='range'] {
    fill: transparent;
    stroke: $gray-dark;
  }

  .c3-regions .c3-region[class*='range'] {
    fill: transparent;
    stroke: transparent;
  }

  .range-text {
    fill: $gray;
    font-size: 1.6em;
  }

  //Line series
  .c3-line {
    stroke-width: 2px;
  }
  .c3-target.c3-focused path.c3-line {
    stroke-width: 3px;
  }

  //Tooltip
  .c3-tooltip {
    opacity: 1;
    border-radius: 2px;
    border: none;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.25);
    font-family: $font-family;
    max-width: 350px;
    tr,
    th,
    td {
      border-radius: 2px;
      border: 0;
    }
    th {
      background: $gray-lighter;
      padding: 8px;
      color: $gray-dark;
      border-bottom: 1px solid $gray-light;
      text-align: center;
      font-size: 1em;
    }
    td {
      font-size: 1em;
      padding: 8px;
    }
    .c3-tooltip-title,
    tr .name {
      color: $gray;
    }
    .c3-tooltip-value,
    tr .value {
      color: $gray-dark;
    }
    td.c3-tooltip-note {
      border-top: 1px solid $gray-light;
    }
  }

  .hint {
    color: $gray;
  }
}
