// Variables
// --------------------------------------------------

//== Colors

$gray-base:              #1b252e;
$gray-darker:            #232e39;
$gray-dark:              #3e4960;
$gray:                   #7787a1;
$gray-light:             #b4c0d6;
$gray-lighter:           #e8f0fa;

$brand-primary:         #3d9ee0;
$brand-success:         #46ba6e;
$brand-info:            #5bc0de;
$brand-warning:         #ef8748;
$brand-danger:          #f05050;

//== Fonts

$font-family:           'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
